.container{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.marker_red{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}
.red1{
    width: 25%;
    background-image: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5), rgba(255,0,0,1));
}
.red2{
    width: 63%;
    background-image: linear-gradient(rgba(255,0,0,0.6), rgba(255,0,0,0.2), rgba(255,0,0,0.6));
    border-left: 8px double black;
}
.red3{
    width: 12%;
    background-image: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5), rgba(255,0,0,1));
}


.marker_green{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}
.green1{
    width: 25%;
    background-image: linear-gradient(rgba(60,206,2,1), rgba(72,255,0,0.5), rgba(72,255,0,1));
}
.green2{
    width: 63%;
    background-image: linear-gradient(rgba(60,206,2,0.6), rgba(72,255,0,0.2), rgba(72,255,0,0.6));
    border-left: 8px double black;
}
.green3{
    width: 12%;
    background-image: linear-gradient(rgba(60,206,2,1), rgba(72,255,0,0.5), rgba(72,255,0,1));
}

.marker_blue{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}
.blue1{
    width: 25%;
    background-image: linear-gradient(rgba(31,4,150,1), rgba(31,4,150,0.5), rgba(31,4,150,1));
}
.blue2{
    width: 63%;
    background-image: linear-gradient(rgba(31,4,150,0.6), rgba(31,4,150,0.2), rgba(31,4,150,0.6));
    border-left: 8px double black;
}
.blue3{
    width: 12%;
    background-image: linear-gradient(rgba(31,4,150,1), rgba(31,4,150,0.5), rgba(31,4,150,1));
}